## Preprocessing

In [202]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [203]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN','NAME','STATUS'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [204]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [205]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [206]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts().loc[lambda x : x<150].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [207]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C3700        1
C2600        1
C1570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [208]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C4100        6
C2400        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1234        2
C1267        2
C3200        2
C1246        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [209]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<150].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [210]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dum_df = pd.get_dummies(application_df)

In [211]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_dum_df.drop(['IS_SUCCESSFUL'], axis=1)
y = application_dum_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [212]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [213]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=19, activation="tanh", input_dim=46))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=3, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=7, activation="relu"))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="relu"))

# fifth hidden layer
nn.add(tf.keras.layers.Dense(units=3, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_121 (Dense)           (None, 19)                893

 dense_122 (Dense)           (None, 3)                 60

 dense_123 (Dense)           (None, 7)                 28

 dense_124 (Dense)           (None, 3)                 24

 dense_125 (Dense)           (None, 3)                 12

 dense_126 (Dense)           (None, 1)                 4

=================================================================
Total params: 1,021
Trainable params: 1,021
Non-trainable params: 0
_________________________________________________________________

In [214]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [215]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 761us/step - loss: 0.6184 - accuracy: 0.7029
Epoch 2/50
804/804 [==============================] - 1s 889us/step - loss: 0.5831 - accuracy: 0.7262
Epoch 3/50
804/804 [==============================] - 1s 885us/step - loss: 0.5741 - accuracy: 0.7275
Epoch 4/50
804/804 [==============================] - 1s 802us/step - loss: 0.5704 - accuracy: 0.7291
Epoch 5/50
804/804 [==============================] - 1s 779us/step - loss: 0.5684 - accuracy: 0.7296
Epoch 6/50
804/804 [==============================] - 1s 865us/step - loss: 0.5681 - accuracy: 0.7310
Epoch 7/50
804/804 [==============================] - 1s 877us/step - loss: 0.5669 - accuracy: 0.7313
Epoch 8/50
804/804 [==============================] - 1s 781us/step - loss: 0.5633 - accuracy: 0.7309
Epoch 9/50
804/804 [==============================] - 1s 853us/step - loss: 0.5615 - accuracy: 0.7323
Epoch 10/50
804/804 [==============================] - 1s 797us/step - loss: 0.5605 - accuracy: 0.7320
Epoch 11/50
804/804 [==============================] - 1s 791us/step - loss: 0.5597 - accuracy: 0.7308
Epoch 12/50
804/804 [==============================] - 1s 884us/step - loss: 0.5587 - accuracy: 0.7308
Epoch 13/50
804/804 [==============================] - 1s 860us/step - loss: 0.5587 - accuracy: 0.7324
Epoch 14/50
804/804 [==============================] - 1s 804us/step - loss: 0.5575 - accuracy: 0.7327
Epoch 15/50
804/804 [==============================] - 1s 838us/step - loss: 0.5544 - accuracy: 0.7322
Epoch 16/50
804/804 [==============================] - 1s 822us/step - loss: 0.5527 - accuracy: 0.7330
Epoch 17/50
804/804 [==============================] - 1s 876us/step - loss: 0.5523 - accuracy: 0.7329
Epoch 18/50
804/804 [==============================] - 1s 895us/step - loss: 0.5522 - accuracy: 0.7334
Epoch 19/50
804/804 [==============================] - 1s 820us/step - loss: 0.5517 - accuracy: 0.7331
Epoch 20/50
804/804 [==============================] - 1s 772us/step - loss: 0.5510 - accuracy: 0.7327
Epoch 21/50
804/804 [==============================] - 1s 909us/step - loss: 0.5509 - accuracy: 0.7321
Epoch 22/50
804/804 [==============================] - 1s 826us/step - loss: 0.5504 - accuracy: 0.7340
Epoch 23/50
804/804 [==============================] - 1s 772us/step - loss: 0.5501 - accuracy: 0.7341
Epoch 24/50
804/804 [==============================] - 1s 901us/step - loss: 0.5499 - accuracy: 0.7340
Epoch 25/50
804/804 [==============================] - 1s 818us/step - loss: 0.5502 - accuracy: 0.7336
Epoch 26/50
804/804 [==============================] - 1s 777us/step - loss: 0.5500 - accuracy: 0.7341
Epoch 27/50
804/804 [==============================] - 1s 911us/step - loss: 0.5496 - accuracy: 0.7350
Epoch 28/50
804/804 [==============================] - 1s 801us/step - loss: 0.5495 - accuracy: 0.7338
Epoch 29/50
804/804 [==============================] - 1s 746us/step - loss: 0.5491 - accuracy: 0.7346
Epoch 30/50
804/804 [==============================] - 1s 831us/step - loss: 0.5494 - accuracy: 0.7348
Epoch 31/50
804/804 [==============================] - 1s 794us/step - loss: 0.5493 - accuracy: 0.7337
Epoch 32/50
804/804 [==============================] - 1s 752us/step - loss: 0.5489 - accuracy: 0.7337
Epoch 33/50
804/804 [==============================] - 1s 854us/step - loss: 0.5490 - accuracy: 0.7352
Epoch 34/50
804/804 [==============================] - 1s 772us/step - loss: 0.5487 - accuracy: 0.7342
Epoch 35/50
804/804 [==============================] - 1s 770us/step - loss: 0.5485 - accuracy: 0.7354
Epoch 36/50
804/804 [==============================] - 1s 850us/step - loss: 0.5483 - accuracy: 0.7350
Epoch 37/50
804/804 [==============================] - 1s 770us/step - loss: 0.5478 - accuracy: 0.7353
Epoch 38/50
804/804 [==============================] - 1s 811us/step - loss: 0.5478 - accuracy: 0.7340
Epoch 39/50
804/804 [==============================] - 1s 803us/step - loss: 0.5477 - accuracy: 0.7357
Epoch 40/50
804/804 [==============================] - 1s 735us/step - loss: 0.5471 - accuracy: 0.7343
Epoch 41/50
804/804 [==============================] - 1s 793us/step - loss: 0.5472 - accuracy: 0.7354
Epoch 42/50
804/804 [==============================] - 1s 784us/step - loss: 0.5472 - accuracy: 0.7344
Epoch 43/50
804/804 [==============================] - 1s 813us/step - loss: 0.5466 - accuracy: 0.7350
Epoch 44/50
804/804 [==============================] - 1s 810us/step - loss: 0.5471 - accuracy: 0.7351
Epoch 45/50
804/804 [==============================] - 1s 782us/step - loss: 0.5463 - accuracy: 0.7361
Epoch 46/50
804/804 [==============================] - 1s 872us/step - loss: 0.5463 - accuracy: 0.7359
Epoch 47/50
804/804 [==============================] - 1s 786us/step - loss: 0.5468 - accuracy: 0.7354
Epoch 48/50
804/804 [==============================] - 1s 791us/step - loss: 0.5466 - accuracy: 0.7357
Epoch 49/50
804/804 [==============================] - 1s 775us/step - loss: 0.5467 - accuracy: 0.7353
Epoch 50/50
804/804 [==============================] - 1s 841us/step - loss: 0.5461 - accuracy: 0.7364

In [216]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5611 - accuracy: 0.7314 - 191ms/epoch - 713us/step
Loss: 0.5610778331756592, Accuracy: 0.7314285635948181

In [217]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimization.h5")

In [23]:
# # Create a method that creates a new Sequential model with hyperparameter options
# def create_model(hp):
#     nn_model = tf.keras.models.Sequential()

#     # Allow kerastuner to decide which activation function to use in hidden layers
#     activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
#     # Allow kerastuner to decide number of neurons in first layer
#     nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
#         min_value=1,
#         max_value=22,
#         step=3), activation=activation, input_dim=46))

#     # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
#     for i in range(hp.Int('num_layers', 1, 6)):
#         nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
#             min_value=1,
#             max_value=10,
#             step=2),
#             activation=activation))
    
#     nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#     # Compile the model
#     nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
#     return nn_model

In [24]:
# # Import the kerastuner library
# import keras_tuner as kt

# tuner = kt.Hyperband(
#     create_model, 
#     objective="val_accuracy", 
#     max_epochs=20, 
#     hyperband_iterations=2)

INFO:tensorflow:Reloading Oracle from existing project .\untitled_project\oracle.json

In [25]:
# # Run the kerastuner search for best hyperparameters
# tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 61 Complete [00h 00m 17s]
val_accuracy: 0.7265306115150452

Best val_accuracy So Far: 0.7336443066596985
Total elapsed time: 00h 06m 41s
INFO:tensorflow:Oracle triggered exit

In [26]:
# best_model = tuner.get_best_models(1)[0]
# model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5554 - accuracy: 0.7336 - 271ms/epoch - 1ms/step
Loss: 0.5553502440452576, Accuracy: 0.7336443066596985

In [27]:
# # Get best model hyperparameters
# best_hyper = tuner.get_best_hyperparameters(1)[0]
# best_hyper.values

{'activation': 'tanh',
 'first_units': 19,
 'num_layers': 5,
 'units_0': 3,
 'units_1': 7,
 'units_2': 3,
 'units_3': 3,
 'units_4': 5,
 'units_5': 5,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [218]:
# # Save best model
# best_model.save("AlphabetSoupCharity_Optimization.h5")